<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/adminIndex.css">
    <title>Admin HomePage</title>
</head>

<body>

    <div align="center" id="mensajeInicio">
        <h1 align="center">Administación - Sistema Web de Votación Estudiantil</h1>
        <p><b>Nota:</b> Desde esta ventana puede administrar los partidos y ver los resultados de las votaciones
            <br />Si tiene problemas para iniciar sesión contacte al soporte institucional
            <a id="mailSoporte" href="mailto:mchavarriap628@ulacit.ed.cr">aquí.</a>
        </p>
    </div>

    <div class="container">
        <div style="height: 500px;">
            <div class="d-grid gap-2 d-md-flex justify-content-around" style="padding-top: 300px;">
                <a href="/ad/resultados" class="btn btn-primary me-md-2">Ver Votos</a>
                <a href="/ad/partido" class="btn btn-primary">Editar Partidos</a>
            </div>
        </div>
    </div>

    <div align="center" id="pieDePagina">
        <span>Todos los derechos reservados &copy; 2021 ULACIT 3C2021-165003G1 DESARROLLO DE APLICACIONES WEB - Grupo
            6</span>
    </div>

</body>

</html>