<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro test</title>
</head>

<body>
    <div class="registerForm">
        <h1>Registro de prueba para agregar estudiantes</h1>
        <!--################################# Action #############################-->
        <form action="/register" method="POST">
            <label for="">User</label>
            <input type="email" name="user" required>

            <label for="">Full name</label>
            <input type="text" name="name" required>

            <label for="rol">Rol</label>
            <select name="rol" id="rol" class="select-css" required="required">
                <option value="" selected>-Seleccione-</option>
                <option value="admin">Admin</option>
                <option value="data entry">Data Entry</option>
            </select>

            <label for="">Password</label>
            <input type="password" name="password" required>

            <div style="display: inline;">
                <a href="/" class="btn-cancel">Cancel</a>
                <input type="submit" class="" value="Save">
            </div>
        </form>
    </div>
</body>

</html>