<!DOCTYPE html>
<html lang="en">

<head>
    <title>Votación Estudiantil</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="stylesheets/indexLogin.css">
    <script type="text/javascript" src="javascripts/validateLogin.js"></script>
</head>

<body>

    <div align="center" id="mensajeInicio">
        <h1 align="center">Inicio de sesión - Sistema Web de Votación Estudiantil</h1>
        <p><b>Nota:</b> La información se valida en la base de datos instituacional.
            <br />Si tiene problemas para iniciar sesión contacte al soporte institucional
            <a id="mailSoporte" href="mailto:mchavarriap628@ulacit.ed.cr">aquí.</a>
        </p>
    </div>

    <div align="center" id="formularioLogin">
        <!--El action tenemos que reemplazarlo por lo que va a procesar el query de login (/)-->
        <form action="/" method="POST" onsubmit="return validateCredentials();">
            <input id="correoEstudiantil" type="email" name="correoEstudiantil" placeholder="Correo Estudiantil"
                required />
            <input id="contrasena" type="password" name="contrasena" placeholder="Contraseña" required />
            <br />
            <input type="submit" value="Iniciar sesión" class="btn_login" />
        </form>
    </div>

    <div align="center" id="partidos">
        <table align="center">
            <thead>
                <tr>
                    <td class="claseCeldas">Partido Político</td>
                    <td class="claseCeldas">Partido Político</td>
                    <td class="claseCeldas">Partido Político</td>
                </tr>
            </thead>
        </table>
    </div>



</body>

</html>