<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width-device-width, initial-scale-1.0">
  <title>Votos</title>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>
  <link rel="stylesheet" href="stylesheets/votos.css">
</head>
<h1 align="center" style="color: darkblue; " ;>Realice su voto</h1>
<h2 align="center" style="color: darkblue; " ;>Seleccione el partido politico</h2>
<style>
  body {
    background-color: rgb(216, 216, 216);
    font-size: 20px;
  }
</style>

<body>
  <center>

    <div id="fondo" style="background-size: cover;"><img
        src="https://cr00.epimg.net/radio/imagenes/2021/12/02/politica/1638483490_893924_1638483734_noticia_normal.jpg">
    </div>

    <p align="center" id="ok" style="display: none;"><img src="https://pbs.twimg.com/media/E7A41vDWUAA2Mq8.jpg"
        width="250" height="200" /></p>


    <p id="image1" class="contadorClicks"><img
        src="https://upload.wikimedia.org/wikipedia/commons/a/a4/Bandera_Partido_Republicano_Nacional_%281932-1952%29_Costa_Rica.svg"
        width="250" height="200" position=absolute; center=230px; /></p>



    <p id="image2" class="contadorClicks"><img
        src="https://upload.wikimedia.org/wikipedia/commons/a/ad/Bandera_del_Partido_Unidad_Social_Cristiana.svg"
        width="250" height="200" position=absolute; center=530px; />
    </p>


    <p id="image3" class="contadorClicks"><img
        src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/ad/Bandera_de_Partido_Liberaci%C3%B3n_Nacional.svg/2560px-Bandera_de_Partido_Liberaci%C3%B3n_Nacional.svg.png"
        width="250" height="200" position=absolute; center=830px; />
    </p>

  </center>

</body>
<script src="javascripts/votos.js" type="text/javascript"></script>

</html>