<html>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.1/font/bootstrap-icons.css">
  <link rel="stylesheet" href="stylesheets/votos.css">

  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>
  <script src="javascripts/votos.js" type="text/javascript"></script>
  <title>Papeleta Virtual</title>
</head>

<body>

  <div id="encabezado">
    <h1 align="center" class="card-title" style="margin-top: 30px;" ;>Papeleta virtual</h1>
    <p align="center" class="card-title" style="margin-bottom: 20px;">Hola, realiza tu voto seleccionando el partido
      político que deseas apoyar</p>
  </div>

  <!--<div align="center" id="fondo"><img id="foto-papeleta"
      src="https://cr00.epimg.net/radio/imagenes/2021/12/02/politica/1638483490_893924_1638483734_noticia_normal.jpg">
  </div>

  Voto realizado
  <p align="center" id="ok" style="display: none;"><img src="https://pbs.twimg.com/media/E7A41vDWUAA2Mq8.jpg"
      width="250" height="200" /></p>
  -->

  <div class="row" style="margin-top: 30px; margin-bottom: 30px; padding-bottom: 50px;">
    <div class="col-sm-4" align="center">

      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="../images/PartidosBanderas/flag1.png" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Juntos Podemos</h5>
          <p class="card-text">Somos estudiantes de sexto grado que se organizaron para dejar una institución mejor a
            las generaciones que están estudian en la escuela y a todos esos con hermanitos menores que pronto van a
            ingresar.</p>
          <form action="/enviandoVoto" method="post">
            <input type="text" name="siglas" value="JP" readonly style="margin-bottom: 10px; text-align: center;"><br>
            <input type="submit" class="btn btn-primary" value="Votar">
          </form>
        </div>
      </div>

    </div>

    <div class="col-sm-4" align="center">

      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="../images/PartidosBanderas/flag2.png" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Unidad Estudiantil</h5>
          <p class="card-text">Nuestro partido consiste en personas de distintos grados que han sacado notas muy buenas
            y tienen ideas que se pueden llevar a cabo en el corto y largo plazo para tener resultados palpables.</p>
          <form action="/enviandoVoto" method="post">
            <input type="text" name="siglas" value="UE" readonly style="margin-bottom: 10px; text-align: center;"><br>
            <input type="submit" class="btn btn-primary" value="Votar">
          </form>
        </div>
      </div>

    </div>

    <div class="col-sm-4" align="center">

      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="../images/stock_photo.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Los Niños del Futuro</h5>
          <p class="card-text">Nosotros queremos dejarles una mejor escuela a nuestros hermanitos pequeños. Nuestras
            madres son parte del comité escolar, lo cual facilitará la realización de actividades y realización de
            bingos.</p>
          <form action="/enviandoVoto" method="post">
            <input type="text" name="siglas" value="LNF" readonly style="margin-bottom: 10px; text-align: center;"><br>
            <input type="submit" class="btn btn-primary" value="Votar">
          </form>
        </div>
      </div>

    </div>
  </div>
  <!--
  <p align="center" id="image1" class="contadorClicks"><img
      src="https://upload.wikimedia.org/wikipedia/commons/a/a4/Bandera_Partido_Republicano_Nacional_%281932-1952%29_Costa_Rica.svg"
      width="250" height="200" position=absolute; center=230px; /></p>

  <p align="center" id="image2" class="contadorClicks"><img
      src="https://upload.wikimedia.org/wikipedia/commons/a/ad/Bandera_del_Partido_Unidad_Social_Cristiana.svg"
      width="250" height="200" position=absolute; center=530px; />
  </p>

  <p align="center" id="image3" class="contadorClicks"><img
      src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/ad/Bandera_de_Partido_Liberaci%C3%B3n_Nacional.svg/2560px-Bandera_de_Partido_Liberaci%C3%B3n_Nacional.svg.png"
      width="250" height="200" position=absolute; center=830px; />
  </p>

  <div align="center" id="pieDePagina" style="margin-top: 50px;" class="container">
    <span>Todos los derechos reservados &copy; 2021 ULACIT 3C2021-165003G1 DESARROLLO DE APLICACIONES WEB - Grupo
      6</span>
  </div>-->

</body>

</html>